/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */


h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
  color: #222222;
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.6875rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}
a {
  color: #00B7FF;
}

.text-overlay:after {
  content: 'CONFERENCE';
  font-family: 'Neucha', cursive;
  font-weight: 600;
  font-size: 215px;
  width: 100%;
  height: 300px;
  background-position: center center;
  position: absolute;
  top: 40%;
  left: 50%;
  opacity: .05;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.overlay-primary:before {
  content: '';
  background: rgb(122, 147, 169);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.overlay-dark:before {
  content: '';
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
  opacity: .75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-white:before {
  content: '';
  background: linear-gradient(0deg, rgba(245, 245, 248, 0.8) 0%, #f7f7f7 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-white-slant:before {
  content: '';
  width: 100%;
  margin-left: -45%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.speakers .speaker-item .image .primary-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(122, 147, 169);
  opacity: .85;
  transition: .3s ease;
}

.speakers-full-width {
  overflow: hidden;
}

.speakers-full-width .speaker-slider .speaker-image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.speakers-full-width .speaker-slider .speaker-image img {
  width: 100%;
}

.speakers-full-width .speaker-slider .speaker-image .primary-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(122, 147, 169);
  opacity: 1;
  transition: .3s ease;
}

.speakers .speaker-item .image:hover .primary-overlay {
  top: 0;
}

.speakers-full-width .speaker-slider .speaker-image .primary-overlay h5, .speakers-full-width .speaker-slider .speaker-image .primary-overlay p, .speakers-full-width .speaker-slider .speaker-image .primary-overlay i {
  color: #fff;
}

.speakers-full-width .speaker-slider .speaker-image .primary-overlay h5, .speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
}

.speakers-full-width .speaker-slider .speaker-image .primary-overlay h5 {
  padding-top: 25%;
  margin-bottom: 10px;
}

.speakers-full-width .speaker-slider .speaker-image .primary-overlay h5, .speakers-full-width .speaker-slider .speaker-image .primary-overlay ul, .speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
  transition: .7s ease;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  opacity: 0;
}

.speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
  margin-bottom: 10px;
}

.speakers-full-width .speaker-slider .speaker-image .primary-overlay ul .list-inline-item:not(:last-child) {
  margin-right: 10px;
}

.speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay {
  top: 0;
}

.speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay h5, .speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay p, .speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay ul {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.speakers-full-width .speaker-slider .slick-prev {
  left: 60px;
}

.speakers-full-width .speaker-slider .slick-next {
  right: 60px;
}


.speakers-full-width .speaker-slider .slick-prev, .speakers-full-width .speaker-slider .slick-next {
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  z-index: 100;
}

.speakers-full-width .speaker-slider .slick-prev:hover:before, .speakers-full-width .speaker-slider .slick-next:hover:before {
  color: #ff6600;
}

.speakers-full-width .speaker-slider .slick-prev:before, .speakers-full-width .speaker-slider .slick-next:before {
  color: #ff6600;
  font-family: FontAwesome;
}

section.margin-top50 {
  margin-top: 55px;
}

.slide-contents {
  max-width: 900px;
  margin: auto;
}

.slide-contents .item{
  width: 300px;
}